.about{
    display: flex;
    height: 100vh;
    padding: 0;
    max-width: 1300px;
    border-right: 1px solid grey;
}
.about_description{
    flex: .75;
    /*padding: 10px;*/
}

.about_description>h1{
    /*background-color: turquoise;*/
}

.about_description>h2{
    margin-top:75px;
}