.about{
    display: flex;
    height: 100vh;
    padding: 0;
    max-width: 1300px;
    border-right: 1px solid grey;
    
}
.about_description{
    padding-left:5px;
    flex: .75;
    /*padding: 10px;*/
    /*background-color: grey;*/
}

.about_description>h1{
    /*background-color: turquoise;*/
    /*background-color:powderblue;*/
}

.about_description>h2{
    margin-top:75px;
}