.dailyBox{
    display: flex;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: 8px;
}

.text{
    flex: 1.0;
    padding-left: 13px;
    padding-right: 10px;
    background-color:rgb(218, 216, 216);
    border-radius: 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    padding-top: 5px;
    padding-bottom:5px;
}

.avatar{
    padding-left: 5px;
    padding-right: 8px;
}