.dailySpark{
    flex: 0.25;
    /*for visualizing compartments*/
    border-right: 2px solid rgb(119, 119, 119);
    /*background-color: rgb(231, 231, 231);*/
}

.dsHeader{
    text-align: center;
}
.gifHeader{
text-align: center;

}
.searchboxWrapper{
    /*max-height:150px;*/
    /*flex: 1.5;*/
    /*margin-left: auto;
    margin-right: auto;*/
    /*right: 10px;*/
    padding-left: 10px;
    justify-content: center;
}

.gifLookup{
    padding-left: 10px;
}

/*.giphy{
    margin-left: auto;
}*/
