.dailySpark{
    flex: 0.25;
    /*for visualizing compartments*/
    /*border-right: 1px solid black;*/
    /*background-color: rgb(231, 231, 231);*/
}

.dsHeader{
    text-align: center;
}
.gifHeader{
text-align: center;

}
.searchboxWrapper{
        flex: 1.5;
  right: 10px;
}