a {text-decoration:none!important;}

.login{
    background-color: grey;
    min-width: 200px;
    min-height:200px;
    max-width: 200px;
    max-height:200px;
    margin-right:auto;
    margin-left: auto;
    /*position-absolute:*/
    margin-top:7%;
}

.navbar{
    background-color: black;
    max-height:40px;
    min-height:40px;
    border-bottom: 1px solid black;
}

.navbar>loginNav{
    border:1px solid black;
    color:white;
}

.navbar>a{
	text-decoration:none;
	float:left;
	font-size: 18px;
  	color: white;
  	text-align:center;
  	padding: 5px;
    /*border-right: 1px solid white;*/
}

.navbar>a:hover
{
	cursor: pointer;
    color: turquoise;
}

.subButtons{
    display: flex;
    padding-top: 25px;
}

.subButtons>.loginButton{
    margin-left: auto;
}

.subButtons>.loginButton>Button{
    background-color: turquoise;
}

/*.loginBack {
    position: absolute;
    top:0;
    height:100vh;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/