.pit{
    border-right: 1px solid rgb(119, 119, 119);
    flex:0.5;
    /*background-color: rgb(233, 219, 219);*/
    /*min-width: fit-content;*/
    overflow-y: scroll;
}

.pitTop{
    min-width: fit-content;
}

.pit::-webkit-scrollbar{
    display: none;
}

.pitheader{
    text-align: center;
    /*border-bottom: 1px solid gray;*/
}

.loginMessage{
    text-align: center;
    border-bottom: 2px solid gray;
    padding-bottom:5px;
}

.loginMessage>a{
    color:turquoise;
}