.profile{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.profileSide{
    flex:0.75;
}

.info{
    display:flex;
    margin-top:100px;
    margin-left:5px;
    border: 2px solid black;
    padding:5px;
    margin-right:5px;
    border-radius:15px;
}


.info>h1{
    /*margin-left: 15px;*/
}

.rightside{
    display: flex;
    flex-direction: column;
    margin-left:15px;
}

.changeAvatar{
    display:flex;
    flex-direction: row;
}

.avatarButton{
    padding-top:7px;
    padding-left:20px;
}

.avatarButton>Button{
    background-color:turquoise;
}

.sparkFeed{
    /*display:flex;*/
    /*flex-direction: column;*/
    max-width:65%;
    margin-left: 5px;
}

.sparkFeed>h1{
    padding-top: 7px;
    padding-bottom: 7px;
}
